body{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
strong{
	font-weight: 100;
}
a{
	text-decoration: none !important;
	color: #fff;
}
/*-------- Top bar --------- */
header{
	width: 100%;
	height: auto;
	background: url('../img/page.header.background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#registration{
	width: 100%;
	height: 100% !important;
	background: url('../img/page.header.background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#topBar{
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 0 5%;
	padding-top: 15px;
	background: transparent;
}
#logoPart{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	height: 100%;
	float: left;
    cursor: pointer;
}
.logoPart_text{
	display: inline-block;
	vertical-align: middle;
	background: url('../img/sprite_page.png') no-repeat -55px -5px;
	width: 280px;
	height: 33px;
	margin-top: 4px;
}
.logoPart_img{
	display: inline-block;
	vertical-align: middle;
	float: left;
	background: url('../img/sprite_page.png')  no-repeat -2px -1px;
	width: 50px;
	height: 48px;
	margin-right: 10px;
}
#navigationPart{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	float: right;
}
#navigationPart ul{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 10px;
	list-style: none;
	text-align: right;
	font-size: 1.2em;
}
#navigationPart li{
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
	color: #fff;
}
.login{
	text-decoration: none;
	color: #fff;
	background: #FF4747;
	padding: 5px 15px;
	border-radius: 4px;
}
#languageButton ul{
	position: absolute;
	z-index: 10;
	width: 100px;
	height: 120px;
	display: none;
	margin: 0;
}
#languageButton li{
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#languageButton a{
	color: #f5f5f5;
}
/* ------------------- Header Content -------------------- */
#underBar{
	width: 100%;
	/* Firefox */
	height: -moz-calc(100% - 80px);
	/* WebKit */
	height: -webkit-calc(100% - 80px);
	/* Opera */
	height: -o-calc(100% - 80px);
	/* Standard */
	height: calc(100% - 80px);
	box-sizing: border-box;
	padding: 3% 5%;
	overflow: hidden;
}
.leftPart{
	display: inline-block;
	float: left;
	width: 40%;
	height: auto;
	margin-top: 2%;
}
.leftPartHeading{
	display: block;
	width: 100%;
	font-size: 2.6em;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
.leftPartHeadingSub{
	display: block;
	width: 100%;
	font-size: 2em;
	color: #fff;
	font-weight: 100;
	text-align: center;
}
.leftPartButton{
	display: block;
	width: auto;
	height: 50px;
	margin-top: 5%;
	background: #FF4747;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 11px;
	font-size: 1.2em;
	text-transform: uppercase;
	cursor: pointer;
}
.pack{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding-left: 42%;
	padding-top: 30px;
}
.bounceArrow{
	display: block;
  position:relative;
  bottom: 0px;
  background: url('../img/sprite_page.png') no-repeat -338px -11px;
	width: 50px;
	height: 28px;
  -webkit-animation:bounce 1s infinite;
}
@-webkit-keyframes bounce {
  0%       { bottom:-5px; }
  25%, 75% { bottom:-10px; }
  50%      { bottom:-15px; }
  100%     {bottom:0;}
}
.rightPart{
	display: inline-block;
	float: right;
	width: 60%;
	height: auto;
}
/*-------------------- Content ------------------- */
#queteFirst{
	width: 100%;
	height: auto;
	background: #004356;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	padding: 3.5%;
}
.queteFirstText{
	display: block;
	font-size: 2em;
}
/* ------------ Tablet support -------*/
#tablet{
	display: block;
	width: 100%;
	height: 80%;
	box-sizing: border-box;
	padding: 5%;
	background: url('../img/page.section1.background.jpg') no-repeat;
	background-size: cover;
}
.leftMockup{
	display: inline-block;
	width: 60%;
	float: left;
	height: auto;
	box-sizing: border-box;
	padding-right: 5%;
}
.leftMockupImg{
	width: 120%;
}
.functionTable{
	display: inline-block;
	width: 40%;	
	float: right;
	height: auto;
}
.functionTable ul{
	display: block;
	list-style: none;
	margin: 0;
	box-sizing: border-box;
}
.functionTable li{
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 4%;
	margin-top: 4%;
}
.create{
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	padding-top: 20px;
	border-radius: 100px;
	background: #ffcd29;	
	text-align: center;
	margin-left: 25%;
}
.createicon{
	display: block;
	background: url('../img/sprite_page.png')  no-repeat -399px -13px;
	width: 24px;
	height: 24px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.editicon{
	display: block;
	background: url('../img/sprite_page.png')  no-repeat -541px -13px;
	width: 24px;
	height: 24px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.deleteicon{
	display: block;
	background: url('../img/sprite_page.png') no-repeat -484px -13px;
	width: 24px;
	height: 24px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.publicicon{
	display: block;
	background: url('../img/sprite_page.png') no-repeat -457px -16px;
	width: 24px;
	height: 18px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.noteicon{
	display: block;
	background: url('../img/sprite_page.png')  no-repeat -512px -17px;
	width: 24px;
	height: 16px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.cloudicon{
	display: block;
	background: url('../img/sprite_page.png')  no-repeat -429px -16px;
	width: 24px;
	height: 18px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.text{
	display: block;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.8em;
}
#queteSecond{
	display: block;
	width: 100%;
	height: auto;
	background: #ffbb33;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	padding: 6%;
}
.functionList{
	display: block;
	width: 100%;
	height: auto;
}
.functionList ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.functionList ul li{
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	margin: 4% 0;
	box-sizing: border-box;
	padding-left: 4%;
	border-left: 8px solid #f5f5f5;
}
.listStyle{
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 100px;
	margin-right: 10px;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 4px;
	text-align: center;
	color: #ffbb33;
	font-size: 1.8em;
}
.primaryText{
	display: inline-block;
	vertical-align: middle;
	font-size: 2em;
	margin-bottom: 1%;
	color: #fff;
}
.secondaryText{
	display: block;
	font-size: 1.4em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: #fff;
	line-height: 1.6em;
}
/* ---------------- Registrate button -------------*/
.buttonPart{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 3%;
}
.buttonPartHeading{
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	margin-right: 2%;
}
.buttonPartButton{
	display: block;
	width: 20%;
	margin-left: 35%;
	color: #fff;
	font-size: 1.4em;
	padding: 10px 40px;
	background: #FF4747 ;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 2%
}
/* ------------------ Send to facebook ------------ */ 
#postToFacebook{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 2% 5%;
	background: url('../img/page.section3.background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}
.postToFacebookMockup{
	display: inline-block;	
	float: right;
	width: 50%;
}
.postToFacebookText{
	display: inline-block;
	width: 50%;
	float: left;
}
.postToFacebookText ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.postToFacebookText ul li{
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	margin: 4% 0;
	box-sizing: border-box;
	padding-left: 4%;
	border-left: 8px solid #f5f5f5;
}
/* -------------------- Sell tickets ----------- */
#propagation{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 5%;
	background: url('../img/page.section2.background.jpg') no-repeat;
	background-size: cover;
}
.propagationHeading{
	display: block;
	text-align: center;
	font-size: 2.5em;
	color: #fff;
	text-transform: uppercase;
}
.propagationSubheading{
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
}
.propagationMockup{
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-top: 2%;
}
/* ------------------- Bottom -------------*/ 
#bottom{
	display: block;
	width: 100%;
	height: auto;
	background: #00060a;
	box-sizing: border-box;
	padding: 3%;
}
.pricingHeading{
	display: block;
	text-align: center;
	font-size: 2.8em;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 2%;
}
.pricing{
	display: block;
	width: 50%;
	box-sizing: border-box;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 25%;
	height: auto;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
	text-align: center;
}
.pricingPrice{
	display: block;
	width: 100%;
	font-size: 4em;
	border-bottom: 2px solid #fff;
	padding-bottom: 2%;
}
.benefits ul{
	display: block;
	margin-top: 6%;
	padding: 0;
	font-size: 1.2em;
	text-align: center;
	list-style: none;
}
.benefits li{
	display: block;
	margin: 15px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* ---------- Call to action (CTA) -------- */
#bottomCTA{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 5%;
	background-color: #00060a;
	color: #fff;
}
.CTAheading{
	display: block;
	text-align: center;
	font-size: 1.5em;
}
.CTAbutton{
	display: block;
	width: 30%;
	margin-left: 35%;
	margin-top: 2%;
	text-align: center;
	font-size: 2em;
	background: #FF4747;
	border-radius: 4px;
	text-transform: uppercase;
	padding: 0.5%;
	cursor: pointer;
}
#footer{
	display: block;
	width: 100%;
	height: auto;
	background: #001829;
	margin: 0;
	box-sizing: border-box;
	padding: 2% 10%;
}
.socialicons{
	display: inline-block; 
	width: 50%;
	float: left;
}
.authors{
	display: inline-block;
	width: 50%;
	color: #fff;
	text-align: right;
	font-size: 1.2em;
}
/* ------------ Registration -------- */
#appendOuter{
	display: block;
	width: 70%;
	height: auto;
	margin-left: 15%;
	border: 2px solid #fff;
    background: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 0.5%;
	text-align: left;
	padding-bottom: 10px;
}
input[type="submit"]{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 4px;
    background: #FF4747;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
	cursor: pointer;
}
.custom_input_label{
    display: block;
    width: 100%;
    border-bottom: 2px solid #f5f5f5;
    padding: 8px 0px;
    margin-top: -1px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    transition: background-color 131ms linear 0s;
}
.fieldName{
    color: #00060a;
    font-size: 1.2em;
    position: relative;
    left: 14px;
    top: 10px;
    display: block;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0s ease 0s, opacity 0s ease 0s;
    font-weight: 100;
}
input{
    display: block;
    font-weight: 100;
    font-size: 1.2em;
    box-sizing: border-box;
    margin: 25px 0px 0px;
    padding: 0px 14px;
    width: 100%;
    outline: 0px none;
    border: medium none;
    background-color: transparent;
    background-image: none;
    color: #00060a;
}
#agree{
	display: inline-block !important;
	vertical-align: middle !important;
	width: 5%;
    margin-left: 4%;
	margin-top: 2%;
}
.checkbox_text{
	display: inline-block !important;
	vertical-align: middle !important;
	width: 90%;
	margin-top: 2%;
	margin-bottom: 1%;
    color: #00060a;
    text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
/* -------- After verify email --------------- */
.group{
	display: block;
	width: 100%;
	height: auto;
}
.left{
	display: inline-block;
	vertical-align: middle; 
	width: 50%;
	margin: 0;
	float: left;
	box-sizing: border-box;
	padding-right: 10px;
}
.right{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	margin: 0;
	float: right;
	box-sizing: border-box;
	padding-left: 10px;
}
#response1{
	display: block;
	color: #00060a;
	height: 20px;
	margin: 0;
    text-align: center;
}
#response2{
	display: block;
	color: #ff3333;
	height: 20px;
	margin: 0;
    text-align: center;
}
.response_text{
	display: block;
	color: #00060a;
	font-size: 2em;
    text-align: center;
}
.response_button{
	display: block;
	font-size: 1.5em;
	color: #fff;
	padding: 5px 15px;
	background: #FF4747;
	cursor: pointer;
}
/* -------------- Terms and services (terms.html) --------------- */
#termsOuter{
    display: block;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    border: 2px solid #fff;
	background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2%;
	color: #333333;
}
.wrapper{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
#termsOuter p{
    font-size: 1.1em;
}
.terms_header{
    color: #00060a;
    font-size: 1.2em;
}
/*--------------- responsivity ---------------*/
@media screen and (max-width: 1126px) {
	#logoPart{
		width: 10%;
	}
	#navigationPart{
		width: 90%;
	}
	.logoPart_text{
		display: none;
	}
	.propagationMockupImg{
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	body{
		font-size: 14px;
	}
	.leftPartButton{
		padding-top: 13px;
	}
}
@media screen and (max-width: 750px) {
	#hide{
		display: none;
	}
	#appendOuter{
		width: 98%;
		margin-left: 1%;
	}
	.leftPartHeading{
		font-size: 2.2em;
	}
	.leftMockup{
		display: block;
		width: 100%;
		float: none;
		padding: 0;
	}
	.leftMockupImg{
		width: 100%;
	}
	.functionTable{
		display: block;
		width: 100%;
		float: none;
		height: 500px;
		float: none;
	}
	#tablet{
		height: auto;
	}
	.postToFacebookText{
		display: block;
		width: 100%;
		float: none;
	}
	.postToFacebookMockup{
		display: block;
		width: 100%;
		float: none;
	}
	.propagationMockupImg{
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.leftPart{
		display: block;
		width: 100%;
		float: none;	
	}
	.rightPart{
		display: block;
		width: 100%;
		float: none;
	}
	.bounceArrow{
		margin-bottom: 20px;
	}
	.pricing{
		width: 80%;
		margin-left: 10%;
	}
	.buttonPartButton{
		width: auto;
		margin-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.socialicons{
		display: block;
		width: 100%;
		margin: 10px 0;
		box-sizing: border-box;
		padding-left: 28%;
	}
	.authors{
		display: block;
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 450px) {
	body{
		font-size: 12px;
	}
	#logo{
		width: 100%;
	}
	#navigationPart li a{
		display: none;
	}
    #languageButton li a{
        display: block !important;
    }
	.leftPartButton{
		padding-top: 15px;
	}
}